<section class="content-box">
    <nav class="menu">
        <!-- <a href="https://" title="Support">Support</a> -->
        <a href="http://status.gndf.io/" title="Service Status">
            Service Status
        </a>
        <a href="http://docs.gndf.io/" title="Documentation">Documentation</a>
    </nav>

    <p>
        <a href="http://nebo15.com/" title="Nebo #15">
            <i class="icon icon-nebo-15"></i>
        </a>
    </p>

    <p>
      © <a href="http://nebo15.com/" title="Nebo #15">Nebo #15</a>, 2016.
    </p>

    <p>
        Special thanks for Open Source supporters:
        <ul>
          <li><a href="http://blog.bugsnag.com/bugsnag-loves-open-source" target="_blank" title="BugSnag" rel="nofollow">BugSnag</a> for helping us to find application bugs in production.</li>
          <li><a href="https://www.browserstack.com/" target="_blank" title="BrowserStack" rel="nofollow">BrowserStack</a> for best cross-browser testing tool.</li>
        </ul>
    </p>
</section>
