<meta property="og:title" content="Gandalf - Open-Source Decision Engine for Big-Data">
<meta property="og:type" content="website">
<meta property="og:url" content="https://gndf.io/?utm_medium=social&utm_source=facebook_opengraph">
<meta property="og:image" content="https://gndf.io/images/logo_og.jpg">
<meta property="og:description" content="Take control over your risks with decision and scoring engine for big-data applications. Integrates in just few hours. Free version available.">

<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1">

<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="styles/main.css">