<section class="content-box">
    <button class="menu-toggle"><b></b></button>

    <nav class="menu" role="navigation">
        <a href="<%= env.CABINET_URL %>/#/sign-in" class="sign-in">Sign In</a>

        <!-- <a href="" title="Support">Support</a> -->
        <a href="http://status.gndf.io/" title="Service status">
            <i class="icon-service-status"></i>
            Service Status
        </a>
        <a href="http://docs.gndf.io/" title="Documentation">Documentation</a>

        <a href="https://github.com/Nebo15/?utf8=%E2%9C%93&query=gandalf" class="button" rel="nofollow" title="Source code">Source code</a>
    </nav>

    <a href="/">
        <img src="images/logo.svg" class="logo">
    </a>

    @@content

    <a class="button try-gandalf" href="<%= env.CABINET_URL %>/#/sign-up" title="Try Gandalf">Try Gandalf</a>

    <nav class="technologies">
        <a href="http://php.net/" target="_blank" rel="nofollow">
            <i class="icon icon-tech-php"></i>
        </a>
        <a href="https://www.mongodb.com/" target="_blank" rel="nofollow">
            <i class="icon icon-tech-mongodb"></i>
        </a>
        <a href="https://laravel.com/" target="_blank" rel="nofollow">
            <i class="icon icon-tech-laravel"></i>
        </a>
        <a href="https://angularjs.org/" target="_blank" rel="nofollow">
            <i class="icon icon-tech-angular"></i>
        </a>
    </nav>
</section>
