<article class="story content-box">
    <h3>Story behind Gandalf</h3>

    <img src="images/gandalf-shadow.png">

    <p>
        We are product-oriented <a href="http://nebo15.com/">fintech team</a>. Almost all projects we created needed a decision engine that reduces business risks. And all solutions we could find is hard to use and maintain, or very expensive. So we decided to create free open-source alternative, that is scalable, reliable and flexible enough to cover 95% of cases.
        <br>
        We decided to use open-source database MongoDB that have good scaling capabilities to make it suitable for Big Data.
        <br>
        Also we believe that vendor-lock is a bad thing, so we published all source code under a GPL license, feel free to change it as you wish.
    </p>
</article>
