<section class="content-box">
    <h3>Whats next?</h3>

    <ul class="list">
        <li>
            <h5>Analyze Scoring Tables</h5>
            <p>
                Analytic tool will help you to see what rules are triggered more often than others. Find your balance between precision and recall.
            </p>
        </li>
        <li>
            <h5>Review Decisions History</h5>
            <p>
                Gandalf will save all data on each decision it makes. Dive deeper in individual cases whenever you need.
            </p>
        </li>
    </ul>
    <ul class="list">
        <li>
            <h5>Start a Split Test</h5>
            <p>
                Use scientific method to improve your scoring engine. Create a hypothesis, add a variant that implements it and allocate some traffic to test it.
            </p>
        </li>

        <li>
            <h5>Try Machine Learning</h5>
            <p>
                Consider investigation more modern Machine Learning approaches. Get familiar with Regression, Clustering and Anomaly Detection. Read more about Deep Learning, Neural Networks, Random Forests and Regression Analysis.
                <a href="https://www.tensorflow.org/" rel="nofollow">TensorFlow</a> is a good tool to look at.
            </p>
        </li>
    </ul>
</section>
