doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    //meta(name='viewport', content='width=900, initial-scale=1')
    title Gandalf - Open-Source Decision Engine for Big-Data
    link(rel="icon", href="/images/favicon.ico?v=123123", type="image/x-icon")
    link(rel="shortcut icon", href="/images/favicon.ico?v=123123", type="image/x-icon")
    // build:css /css/app.min.css
    link(rel='stylesheet', href='/bower_components/highlightjs/styles/github-gist.css')
    link(rel='stylesheet', href='/css/app.css')
    // endbuild
    // build:js /js/app.min.js
    script(src="/bower_components/highlightjs/highlight.pack.js")
    script(src="/js/app.js")
    // endbuild
  body
    section.section.section--bg.section--gradient
      .section__in
        .logo
          .icon.icon-logo
          //img(src="images/logo.png", alt="Gandalf Logo")
        .heading-subtitle Take control over your risks
        .heading-title Open-Source Decision Engine
          br
          | for Big-Data

        .btn-group
          a.btn.btn--red(href="https://github.com/Nebo15/gandalf.api", title="View on Github", rel="noindex") View on GitHub
          a.btn.btn--orange(href="http://nebo15.github.io/qbill.docs/gandalf.html#introduction", title="Gandalf Docs", rel="noindex") Read API Docs
        .icon-group
          .icon-shadow: a.icon.icon-php7(rel="noindex", href="http://php.net/")
          .icon-shadow: a.icon.icon-mongodb(rel="noindex", href="https://www.mongodb.org/")
          .icon-shadow: a.icon.icon-laravel(rel="noindex", href="https://laravel.com/")
          .icon-shadow: a.icon.icon-angularjs(rel="noindex", href="https://angularjs.org/")
    section.section
      .section__in.features: .features__in
        .features__side
          .heading-title.text-red Features
        .features__main
          .feature
            .feature__main
              h3 Customizable
              div Have the freedom to design a decision rules you need and to manage data structure on the fly in a easy to understand way.
            .feature__index 1
          .feature
            .feature__main
              h3 Split testing
              div You can group your decision table to run a A/B tests. Later, you can leave only one, that shows best results.
            .feature__index 2
          .feature
            .feature__main
              h3 Analytics and Decision History
              div You can review all previous decisions made by your tables and to analyze what rules is triggered more often.
            .feature__index 3
          .feature
            .feature__main
              h3 Production-tested
              div You can review all previous decisions made by your tables and to analyze what rules is triggered more often.
            .feature__index 4
    section.section.section--how
      .section__in
        .section__title How does it work?
        .section__subtitle Set up your scoring table
          br
          | or use a template.
        img.section__block(src="http://placehold.it/1000x600", alt="Decision table preview")
        .section__subtitle Send some data to <br/>Gandalf, and get client <br/>score in result!
        .section__block
          .code-preview: pre: code.bash
            include ./content/curl-sample.html
    section.section.section--story
      .section__in
        .story: .story__in
          .story__side
            img(src="images/gandalf-shadow.png" alt="Gandalf Logo symbol with shadow")
          .story__main
            .heading-title.text-red Story behind Gandlaf
            p We – are production oriented team, and we work for a fintech company. Almost all project that we created need a decision engine that reduces business risks. And all solutions we can find is ether old and ugly, or very expensive. So we decided to create free open-source alternative, that will be scalable, reliable and flexible enough to cover 95% of cases.
            p To make is suitable for Big Data we decided to build it on top of use very reliable open-source database MongoDB, that have good sharding capabilities and easy to maintain.
            p Also we believe that vendor-lock is a bad thing, so we published all source code on a MIT license, so you are free to change it as you wish.
    section.section.section--footer
      a.icon.icon-nebo15(href="http://nebo15.com", rel="noindex", title="Nebo15 Website")
      .copyright ⓒ Nebo #15, 2016
      .thanks
        | We want to thank&nbsp;
        a(href="http://blog.bugsnag.com/bugsnag-loves-open-source") BugSnag
        | &nbsp;for a free Open Source license.
