doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title <%= appname %>
    link(rel='stylesheet', href='css/app.css')
  body
    section.section.section--bg
      .logo
        img(src="images/logo.png", alt="Gandalf Logo")
      .heading-subtitle Take control over your risks
      .heading-title Open-Source Decision Engine
        br
        | for Big-Data

      .btn-group
        a.btn.btn--red View on GitHub
        a.btn.btn--orange Read API Docs
      .icon-group
        span.icon.icon-php7
        span.icon.icon-mongodb
        span.icon.icon-laravel
        span.icon.icon-angularjs

    // build:js js/app.min.js
    script(src='js/config.js')
    script(src='js/app.js')
    // endbuild

